*{
  margin:0;
  padding: 0;
  font-family: "poppins";
  
}
main{
  background-color: #1A1A29;
}
header{
  background-color: #181824;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  padding-bottom: 10px;
}
h1{
  color:#7562E0;
  font-weight: bold;
  font-size: 28px;
}

nav{
  list-style-type:none ;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav li{
padding-right: 29px;
font-weight: 600;

}
nav li:hover{
  color: #7562E0;
  cursor: pointer;
  
}

.sobre{
  display: inline-grid;
  color: #FFFFFF;
  margin-top: 5rem;
}
.sobre h2{
    font-size: 20px;


  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.sobre span{
  font-size: 25px;
}
.sobreT{
  background-color: #1A1A29;
  display: flex;
  justify-content: space-around;
}

.imagem{
  height: 15rem;
  width: 15rem;
}